@media (min-width: 1200px) {
  .navbar,
  .page-footer {
    padding-left: 270px;
  }
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
}

header .banner {
  margin-top: 1.5em;
  background: linear-gradient(to right, #320d69, #30c8cc);
}

h1 {
    font-weight: inherit;
}

.subheading {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.2;
}

main {
  margin-top: 1.5em;
}

section.container {
  margin-bottom: 1.5em;
}

footer.page-footer h2 {
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
}

img.portrait {
    width: 80%;
}
